<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>547076965680-srsgvta2rdai4nr1bdn0fmhjfvb05755.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.547076965680-srsgvta2rdai4nr1bdn0fmhjfvb05755</string>
	<key>API_KEY</key>
	<string>AIzaSyDOgEe9F2x1YjIT4rv0X5sFHYZnIW5dbJc</string>
	<key>GCM_SENDER_ID</key>
	<string>547076965680</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.yongProject</string>
	<key>PROJECT_ID</key>
	<string>yong-project-8b980</string>
	<key>STORAGE_BUCKET</key>
	<string>yong-project-8b980.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:547076965680:ios:e874d50673f782bf2234f5</string>
</dict>
</plist>